@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Roboto, Inter, sans-serif;
}


@keyframes scale-up {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

.menu {
  animation: scale-up .1s;
}
input {
  font-family: Inter, Roboto, sans-serif;
}